
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        @ViewBag.Greeting, świecie!
    </div>
    <div>
        <a asp-action="RsvpForm">Wyślij RSVP</a>
    </div>
</body>
</html>
